name: Ubuntu

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
#     runs-on: ubuntu-20.04
    runs-on: self-hosted
    strategy:
      matrix:
        cc: [gcc, clang]
        include:
          - cc: gcc
            cxx: g++
          - cc: clang
            cxx: clang++

    steps:
    - uses: actions/checkout@v2

#     - name: Install dependencies
#       run: sed 's/\r$//' apt_packages.txt | sed 's/#.*//' | xargs sudo apt-get install -y

    - name: Configure
      run: |
          git submodule init
          git submodule update
          CC=${{ matrix.cc }} CXX=${{ matrix.cxx }} cmake -G"Unix Makefiles" -Bbuild

    - name: Build
      run: cmake --build build
